@import url('https://css.gg/profile.css');
@import url('https://css.gg/shopping-cart.css');
@import url('https://css.gg/search.css');
@import url('https://css.gg/arrow-down.css');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica;
    font-size: 14px;
    word-spacing: 1px;
    min-width: 1280px;
    overflow: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 3px solid #ececec;
    min-width: 1280px;
    text-decoration: none;
}

.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 80px;
    padding-bottom: 256px;
}

.body-content {
    width: 1280px;
    margin: 0 auto;
}

.body-content .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.body-content p {
    margin-top: 8px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.footer-content {
    width: 1280px;
    margin: 16px auto;
    height: 69px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.6;
}

.header button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header a {
    text-decoration: none;
}

.header-logo {
    float: left;
    margin-left: 6px;
    width: 264px;
    height: 80px;
}

.header-logo a {
    display: block;
    margin-left: 64px;
    width: 160px;
    height: 80px;
}

.header-logo img {
    display: inline;
    width: 160px;
    height: 160px;
    margin-top: -55px;
    pointer-events: none;
}

.header-navwrap {
    display: inline-block;
    position: relative;
}

.header-navbar {
    display: inline-block;
}

.header-navitem {
    display: flex;
    position: relative;
    align-items: center;
    float: left;
    width: auto;
    height: 80px;
    line-height: 80px;
    margin: 0 15px;
    color: #5b5b5b;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.header-search-bar {
    display: flex;
    margin-left: 32px;
    cursor: default;
}

.header-search-bar .input-container {
    display: flex;
    position: relative;
    width: 420px;
    height: 32px;
    border: 1px solid #5b5b5b;
    border-radius: 25px;
    padding: 0 16px;
}

.header-search-bar .search-icon {
    margin-right: 8px;
}

.header-search-bar input {
    width: 100%;
    border: none;
    outline: none;
}

.header-login {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: 101px;
    height: 100%;
    cursor: pointer;
}

.header-login .menu {
    display: flex;
    align-items: center;
    position: relative;
    padding: 3px 6px 0 0;
    background: transparent;
    outline: none;
    border: 0;
    list-style-type: none;
}

.menu .dropdown {
    z-index: 9;
    position: relative;
}

.login-menu {
    display: none;
}

.login-menu a {
    cursor: pointer;
}

.header-login:hover .login-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(17,17,17,0.85);
    position: absolute;
    top: 32px;
    right: -40px;
    min-width: 176px;
    cursor: default;
}

.login-menu li {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.login-menu a {
    color: #fff;
    text-align: center;
}

.header-login .login-icon {
    margin: auto 0;
    margin-left: 12px;
}


.header-cart  {
    display: flex;
    position: absolute;
    top: 0;
    right: 36px;
    width: 28px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
}

.autocomplete-container {
    position: absolute;
    z-index: 10;
    top: 69px;
    width: 420px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
    text-align: left;
}

.autocomplete-list {
    display: flex;
    flex-direction: column;
}

.autocomplete-item {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    margin: 4px 0;
    font-weight: bold;
}